<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>News</title>
</head>
<body>
	<div id="scrapper">
		<h1>Trusty News</h1>
		<div id="news"></div>
		<div id="comment"></div>
	</div>


</body>
</html>